//
// Charte FOAD - Forms
// -----------------------------------------------------


.avatar {
    height: @line-height-computed;
    width: @line-height-computed;
    object-fit: cover;
   
    padding: 0; 
    
    background-color: transparent;
    border-style: none;
    border-radius: 50%;
}
