//
// Charte FOAD - Header
// -----------------------------------------------------


@header-height: 104px;
@header-height-home: 144px;
@row-height: 56px;


header {
    margin-bottom: 24px;
    
    background-image: url("../img/header-background.png");
    background-position-x: center;
    background-size: cover;
    
    .container {
        position: relative;
        height: @header-height;
        
        body.home & {
            height: @header-height-home;
        }
    }
    
    .row {
        display: flex;
        height: @row-height;
        
        body.home & {
            height: 100%;
        }
    }
    
    .col {
        padding-left: floor(@grid-gutter-width / 2);
        padding-right: floor(@grid-gutter-width / 2);
        
        &:first-child {
            display: flex;
            align-items: center;
        }
        
        &:last-child {
            flex-grow: 1;
        }
    }
    
    .logo-en, .toolbar {
        position: relative;
        z-index: @zindex-navbar;
    }
    
    .logo-tribu-large {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        
        margin: 0;
        padding: @line-height-computed;
        
        color: @white;
        text-align: center;
        
        img {
            max-height: 100%;
            max-width: 100%;
        }
    }
}
