//
// Charte FOAD - Layout
// -----------------------------------------------------


// Mixins
@import "mixins/flex.less";


body {
    &.fixed-layout {
        @media screen and (min-width: @screen-sm-min) {
            .maximized {
                &, > .dyna-region {
                    .flexbox();
                }
            }
            
            #maximized {
                .flexbox();
                
                overflow-x: hidden;
                overflow-y: auto;
                
                &:not(.flexbox) {
                    .dyna-window:not(.flexbox) {
                        padding-bottom: @padding-large-vertical;
                    }
                }
            }
        }
    }
    
    &.condensed-layout {
        @media screen and (min-width: @screen-sm-min) {
            .content-navbar, .portlet-container {
                margin-bottom: floor(@line-height-computed / 2);
            }
            
            .row {
                margin-left: floor(@grid-gutter-width / -4);
                margin-right: floor(@grid-gutter-width / -4);
            }
                    
            [class|=col] {
                padding-left: floor(@grid-gutter-width / 4);
                padding-right: floor(@grid-gutter-width / 4);
            }
            
            .portlet-container {
                .row {
                    margin-left: floor(@grid-gutter-width / -2);
                    margin-right: floor(@grid-gutter-width / -2);
                }
                        
                [class|=col] {
                    padding-left: floor(@grid-gutter-width / 2);
                    padding-right: floor(@grid-gutter-width / 2);
                }
            }
        }
    }
}


#maximized {
    padding: @padding-large-vertical @padding-large-horizontal;
    
    background-color: #fff;
    
    @media screen and (max-width: @screen-xs-max) {
        margin-left: floor(@grid-gutter-width / -2);
        margin-right: floor(@grid-gutter-width / -2);
    }
    
    @media screen and (min-width: @screen-sm-min) {
        body:not(.fixed-layout) & {
            margin-bottom: @line-height-computed;
        }
    }
    
    .page-header {
        margin: floor(@line-height-computed / 2) 0;
        
        .h2 {
            margin: 0;
        }
    }
    
    .portlet-container {
        margin-bottom: 0;
    }
}


.workspace-header {
    position: relative;
    
    padding: 0 @padding-large-horizontal;
        
    .dyna-window {
        position: static;
        
        text-align: center;
        font-size: 0;
        
        > * {
            display: inline-block;
            
            font-size: @font-size-base;
        }
    }
    
    @media screen and (max-width: @screen-xs-max) {
        .dyna-region {
            &:first-child {
                > * > * {
                    &:first-child {
                        padding-top: floor(@line-height-computed / 2);
                    }
                }
            }
            
            &:last-child {
                > * > * {
                    &:last-child {
                        padding-bottom: floor(@line-height-computed / 2);
                    }
                }
            }
        }
    }
    
    @media screen and (min-width: @screen-sm-min) {
        .dyna-region {
            display: table-cell;
            vertical-align: middle;
            
            &:nth-child(1) {
                padding-right: @padding-large-horizontal;
            }
            
            &:nth-child(2) {
                width: 10000px;
            }
            
            > * > * {
                &:first-child {
                    margin-top: floor(@line-height-computed / 2);
                }
                
                &:last-child {
                    margin-bottom: floor(@line-height-computed / 2);
                }
            }
        }
    }
}


footer {
    position: relative;
    
    border-top-style: solid;
    border-width: 1px;
    border-color: @navbar-default-border;
    
    .box-shadow(@shadow: 0 -1px 1px fade(#000, 5%));
    
    body.condensed-layout & {
        display: none;
    }
}
