//
// Charte FOAD - Portlet styles
// -----------------------------------------------------


.portlet-container {
    .portlet-header {
        .portlet-titlebar-title {
            position: relative;
            
            margin-top: 0;
            margin-bottom: floor(@line-height-computed / 2);
            padding-bottom: floor(@line-height-computed / 2) + 2;
            
            font-family: @font-family-sans-serif;
            font-size: @font-size-base;
            font-weight: 500;
            line-height: @line-height-base;
            text-transform: uppercase;
            
            &::after {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                height: 2px;
                width: 20px;
                
                background-color: @brand-primary;
            }
        }
    }
    
    
    &.no-margin {
        margin: 0;   
    }
    
    &.welcome-note {
        h1 {
            margin-top: 0;
            margin-bottom: 24px;
            
            font-weight: 300;
            line-height: 1;
        }
    }
    
}
