//
// Charte FOAD - Toolbar
// -----------------------------------------------------


.toolbar {
    margin-top: floor(@line-height-computed / 2);
    padding-bottom: 0;
    
    .list-inline {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: end;
    }
    
    .form-inline {
        .form-group {
            margin-bottom: 0;
        }
    }
    
    .btn-link {
        &, &:hover, &:focus {
            color: @white;    
        }
    }
    
    .form-control {
        color: @white;
        border-color: @white;
        
        .placeholder(@color: @gray-lighter);
        
        &:focus {
            .box-shadow(@shadow: none);
        }
    }
    
    .navbar-nav {
        > li {
            > a {
                &:extend(.btn all);
                &:extend(.btn-link all);
                .btn-link;
            }
            
            > .dropdown-menu {
                margin-top: 2px;
                
                .border-top-radius(@radius: @border-radius-base);
            }
        }
    }
    
    button[name="open-tasks"] {
        .counter {
            top: -6px;
        }    
    }
}
